/* =========================
   GLOBAL STYLE
========================= */

body{
margin:0;
font-family:Inter, sans-serif;
background:radial-gradient(circle at top,#111 0%,#050505 60%);
color:#e6e6e6;
}

/* =========================
   SIDEBAR
========================= */

.sidebar{
position:fixed;
width:240px;
height:100vh;
background:linear-gradient(180deg,#0b0b0b,#060606);
padding:25px;
border-right:1px solid #1f1f1f;
box-shadow:0 0 30px rgba(0,0,0,0.6);
}

.sidebar h2{
color:#ff2d2d;
font-weight:700;
letter-spacing:1px;
margin-bottom:30px;
}

.sidebar a{
display:block;
padding:12px 15px;
color:#aaa;
text-decoration:none;
border-radius:10px;
margin-bottom:8px;
transition:all .2s ease;
}

.sidebar a:hover{
background:rgba(255,45,45,0.12);
color:#ff2d2d;
transform:translateX(4px);
}

/* =========================
   MAIN LAYOUT
========================= */

.main{
margin-left:260px;
padding:50px 40px;
max-width:1300px;
position:relative;
z-index: 2;
}

/* =========================
   CARDS CONTAINER
========================= */

.cards{
display:flex;
gap:18px;
margin:25px 0;
}

/* =========================
   CARD STYLE (GLASS LOOK)
========================= */

.card{
background:rgba(20,20,20,0.65);
border-radius:16px;
padding:14px 22px;
border:1px solid #222;
color:#ddd;
font-size:15px;
backdrop-filter:blur(10px);
cursor:pointer;
transition:all .25s ease;
}

.card:hover{
transform:translateY(-4px);
box-shadow:0 0 18px rgba(255,45,45,0.25);
border:1px solid #ff2d2d;
}

/* =========================
   TABLE
========================= */

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

th,td{
padding:12px;
border-bottom:1px solid #222;
}

tr:hover{
background:#191919;
}

/* =========================
   SEVERITY BADGES
========================= */

.badge{
padding:5px 10px;
border-radius:6px;
font-weight:bold;
}

.high{
background:rgba(255,45,45,0.2);
color:#ff2d2d;
}

.medium{
background:rgba(255,165,0,0.2);
color:orange;
}

.low{
background:rgba(0,255,100,0.2);
color:#00ff88;
}

/* =========================
   UPLOAD BUTTON
========================= */

.upload-btn{
margin-top:10px;
background:#ff2d2d;
border:none;
padding:8px 12px;
border-radius:6px;
color:white;
cursor:pointer;
transition:.2s ease;
}

.upload-btn:hover{
background:#ff4a4a;
}

/* =========================
   FILTER BUTTON EFFECT
========================= */

.filter-btn{
cursor:pointer;
transition:all .2s ease;
}

.filter-btn:hover{
transform:translateY(-3px);
box-shadow:0 0 20px rgba(255,45,45,0.35);
}

/* =========================
   CHART PANEL (SOFT GLASS)
========================= */

canvas{
background:rgba(10,10,10,0.6);
border-radius:20px;
padding:25px;
box-shadow:0 0 30px rgba(0,0,0,0.6);
}

canvas{
pointer-events:none;
}

.cards{
position:relative;
z-index:5;
}
